{% extends "base.html" %}
{% block title %}
Asset Overview
{% endblock title %}

{% block content %}
    {% if user %}
        <section class="jumbotron">
            <div class="container">
                <div class="row">
                    <h1 class="p-3 text-center m-5">services</h1>
                    <div class="col-sm-10 col-lg-1 m-auto">
                        <a href="/bookings" class="text-decoration-none text-reset">
                            <div class="card border-0">
                                <img src="/static/img/booking_tile.png" class="card-img-top img-fluid">
                                <div class="card-block">
                                    <div class="d-flex justify-content-center">
                                        <h3 class="card-title">bookings</h3></br>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-10 col-lg-1 m-auto">
                        <a href="/analyze" class="text-decoration-none text-reset">
                            <div class="card border-0">
                                <img src="/static/img/analyze_tile.png" class="card-img-top img-fluid">
                                <div class="card-block">
                                    <div class="d-flex justify-content-center">
                                        <h3 class="card-title">analyze</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-10 col-lg-1 m-auto">
                        <a href="/statistics" class="text-decoration-none text-reset">
                            <div class="card border-0">
                                <img src="/static/img/statistics_tile.png" class="card-img-top img-fluid">
                                <div class="card-block">
                                    <div class="d-flex justify-content-center">
                                        <h3 class="card-title">statistics</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <hr>
        </section>
    {% else %}
        <form method="post" action="/login">
            <div>
                <input type="text" name="user-name" placeholder="Enter your name"><br>
                <input type="email" name="user-email" placeholder="Enter your email address"><br>
                <input type="password" name="user-password" placeholder="Enter your password"><br>

                <button>Submit</button>
            </div>
        </form>
    {% endif %}
{% endblock %}
